@font-face {
	font-family: 'GoTFont';
  src: url('gameofthrones.woff2') format('woff2'),
       url('gameofthrones.woff') format('woff'),
	     url('gameofthrones.ttf')  format('truetype');
     }

body{
  /*background-color: black;*/
  /*background-image: url('http://vignette4.wikia.nocookie.net/gameofthrones/images/7/7b/Titan_of_Braavos.jpg/revision/latest?cb=20150504024857');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment:fixed;*/
}


h1.title1{
  font: 3em 'GoTFont',Times;
  text-align: center;
  margin-top: 0.5em;
  /*color: white*/
}

h2.title2{
  font: 2em 'GoTFont',Times;
  text-align: center;
  margin-top: 1em;
  /*color: white;*/
  line-height: 1.5em
}

nav ul{
  list-style: none;
  text-align: center;
  padding-left: 0;
  justify-content: center;
}

nav li{
  margin-right: 2em;
  display: inline-block;
}

a:link, a:visited {
  font-size: 2em;
  /*color: white;*/
  text-decoration: none;
}

a:hover{
  text-decoration: underline;
  /*text-decoration-color: white;*/
  text-decoration-style: wavy;
}
p{
  margin-top: auto;
  /*color: white;*/
  font-size:2em;
}

footer p{
  font-size: 0.5em;
}
