@font-face {
	font-family: 'GoTFont';
  src: url('gameofthrones.woff2') format('woff2'),
       url('gameofthrones.woff') format('woff'),
	     url('gameofthrones.ttf')  format('truetype');
     }

h1{
  font: 3em 'GoTFont',Times;
  text-align: center;
  margin-top: 0.5em;
  color: black
}

h2{
  font: 2em 'GoTFont',Times;
  text-align: center;
  margin-top: 1em;
  color: black;
  line-height: 1.5em
}

nav ul{
  list-style: none;
  text-align: center;
  padding-left: 0;
  justify-content: center;
}

nav li{
  margin-right: 2em;
  display: inline-block;
}

nav li.selected{
	font-weight: bold;
}

nav a:link, nav a:visited{
	font-size: 2em;
}

a:hover{
  text-decoration: underline;
  text-decoration-style: wavy;
}
p{
  margin-top: auto;
  font-size:2em;
}

footer p{
  font-size: 1em;
}

p.fineprint{
	font-size: 0.5em;
	word-wrap: normal;
}
